/* CSS for application */

.body {
    height: 97%;
  }
  svg {
    height: 610;
    width: 100%;
  }

  .tooltip {
    position: absolute;
    width: 120px;
    height: 45;
    padding: 2px;
    font: 12px sans-serif;
    text-align: center;
    color: white;
    background: rgb(62, 64, 65);
    border: 0;
    border-radius: 5px;
    display: none;
    pointer-events: none;
  }



  /* "result" styles for the different results; used to change color of DIV */
  .buyresult{
    background: mediumseagreen;
  }

  .sellresult{
    background: salmon;
  }

  .holdresult{
    background: silver;
  }

  .unknownresult{
    background: lavender;
  }
  

  /* resultcontainer: used with the div with the metadata on the selected item from calendar  */
  .resultcontainer{
    padding-top: 20px;
    padding-bottom: 5px;
    border-radius:20px;
    font: 20px sans-serif;
  }

  /* resultmetadata: Used with the div that contains the text for the metadata from selected calendar item */
  .resultmetadata{
    margin-left: 30px;
  }

  .resultimage{
    max-width: 250px;
  }

  /* resultLabelText: used with the text for the legend of results  */
  .resultLabelText{
    font-family: sans-serif;
    font-size: 13px;
    font-style: italic;
    fill: black;
    pointer-events: none;
  }


  /* Styles used with the calendar rectangles */

  .calendarRectangleSelected{
    opacity: 1.0;
    stroke: rgb(66, 188, 209);
    stroke-width: 6px;
    pointer-events: all;
  }

  .calendarRectangleMouseOver{
    opacity: 1.0;
    stroke: rgb(62, 64, 65);
    stroke-width:2px;
    pointer-events:all;
  }

  .calendarRectangle{
    opacity: 0.8;
    stroke-width:0px;
    pointer-events:all;
  }

  /* Logo on index page */
  .logoimage{
    max-width: 150px;
  }